.wrapper{
	border-style: solid;   
	border-color: black;
	border-width: 2px;
	background: lightgrey;
	/*margin: auto;*/
	margin: 0 auto;
	padding: 50px;
	/*min-width: 200px;
	max-width: 600px;*/
	width: 100%;
	display: inline-flex;
	/*align-items: center;*/
	/*justify-content: center;*/
}
.divtable{
	/*margin: 5px;*/
	border: 5px solid green;
	width: 100%;
	/*min-width:200px;*/
	/*display: flex;*/
	/*margin-left: auto;
	margin-right: auto;*/
	/*position: center;*/
	text-align: center;
	margin: 0 auto;
}
.tableborder{
	border: 3px solid black;
	background-color: orange;
	
}
.tabl1img{
	background-image: url("../img/fruit1.jpg");
	background-repeat: repeat-x;
	/*background size: contain;*/
	background-size: 34% 30%;
	/*background-position: 100% 0;*/
	opacity: 1.0;
}
.tabl2img{
	background-image: url("../img/checkout5.GIF");
	background-repeat: repeat-x;
	background-size: cover;
	background-size: 30% 20%;
	opacity: 1.0;

}
.tabl3img{
	background-image: url("../img/reciept.jpg");
	background-repeat: repeat-x;
	background-size: cover;
	background-size: 30% 20%;
	opacity: 1.0;

}

h1{
	text-align: center;
	background-color: green;
	color: white;
	padding-bottom: 5px; 
	padding-top: 5px;
	margin-bottom: 0px;

}
h3{
	/*background-color: green;*/
	color: black;
	font-weight: bold;
	font-size: 50px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 900px;
	/*background-color: violet;*/
}

table {
	/*border: 2px solid green;*/
	/*margin: 0 auto;*/

	/*border-collapse: collapse;*/
	/*width: 320px;*/
	height: 100%;
	/*min-width: 200px;
	max-width: 320px;*/
	border-spacing: 15px;
	width: 100%;
	/*align-self: center;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
}


th{
	padding-top: 0px; /* makes box bigger smaller*/
	text-align: center;
	width: 105px;
	height: 26px;
	margin-top: 0px;
	
}

input[type=text]{
	font-size: 11px;
	text-align: left;
	margin:0;
	padding: 5px;
}
button{
	font-size: 14px;
	background-color: green;
	color: white;
	/*font-weight: 900px;*/ 
	/*padding: 4px;*/
	/*margin: auto;*/
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 8px;
	padding-right: 8px;
	

}
p{
	font-size: 16x;
	margin: 0;
	text-align: center;
}
